extends ../layouts/common

block content  
  h1 Create a new book

  form(action="/books/create", method="POST")
    lable Title
    input(name="title", type="text")
    label Description
    input(name="description", type="text")
    button Create