extends ../layouts/common

block content
  
  h1 
    span.mr-4 Book list
    a.btn.btn-primary(href="/books/create") New a book

  
  .d-flex.align-items-center
    form.ml-auto.d-flex(action="/books/search", method="GET")
      input.form-control(type="text", name="q")
      button.btn.btn-primary.ml-2 search

  table.table
    tr
      th Title
      th Actions
      
    each book in books
      tr
        td= book.title
        td
          a.btn.btn-success(href='books/' + book.bookId) update
          a.btn.btn-danger.ml-2(href='books/' + book.bookId + '/delete') delete
          
  nav
    ul.pagination.justify-content-center
      li.page-item(class= page === 1 ? 'disabled' : '')
        a.page-link(href='/books?page=' + (page - 1)) &laquo
      if (page === 1 || page === 2)
        - for (var i = 1; i <= 3; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/books?page=' + i)= i
      else if (page  === lengthPage - 1 || page === lengthPage)
        - for (var i = 2; i >= 0; i--)
          li.page-item(class= page === (lengthPage - i) ? 'active' : '')
            a.page-link(href='/books?page=' + (lengthPage - i))= lengthPage - i
      else 
        - for (var i = page - 1; i <= page + 1; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/books?page=' + i)= i
      li.page-item(class= page === lengthPage ? 'disabled' : '')
        a.page-link(href='/books?page=' + (page + 1)) &raquo
    