extends ../layouts/common

block content
  
  h1 
    span.mr-4 Book list
    a.btn.btn-primary(href="/books/create") New a book

  
  .d-flex.align-items-center
    form.ml-auto.d-flex(action="/books/search", method="GET")
      input.form-control(type="text", name="q")
      button.btn.btn-primary.ml-2 search

  table.table
    tr
      th Title
      th Actions
      
    each book in books
      tr
        td= book.title
        td
          a.btn.btn-success(href='books/' + book.bookId) update
          a.btn.btn-danger.ml-2(href='books/' + book.bookId + '/delete') delete
    