extends ../layouts/common

block content 
  h1 Edit title book

  form.align-items-center(action="/books/update", method="POST", enctype="multipart/form-data")
    .form-group.col-sm-4
      input(name="id", type="hidden", value=book.id)
      lable New a book title:
      input.form-control(name="title", type="text", value=book.title)
    .form-group.col-sm-4
      lable Update book cover
      input.form-control-file(name="bookCover", type="file")
    button.btn.btn-primary update