h1 Edit title book

form(action="/books/update", method="POST")
  input(name="bookId", type="hidden", value=book.bookId)
  lable New title
  input(name="title", type="text", value=book.title)
  button update