html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="shortcut icon", type="image/png", href="https://cdn.glitch.com/78c9933a-3930-4ccc-bdbc-28c287ea229e%2Ffavicon.png?v=1587995799390")
  body
    block content