extends ../layouts/common

block content   
  h1 Create a new user
  
  if errors
    each error in errors
      .alert.alert-danger.col-sm-3= error

  form(action="/users/create", method="POST", enctype="multipart/form-data")
    .form-group.col-sm-4
      input(name="wrongLoginCount", type="hidden", value=0)
    .form-group.col-sm-4
      input(name="password", type="hidden", value=hashedPassword)
    .form-group.col-sm-4
      lable(for="name") Name:
      input#name.form-control(name="name", type="text", placeholder="Your name...", value=values ? values.name : '')
    .form-group.col-sm-4
      lable(for="email") Email:
      input#email.form-control(name="email", type="text", placeholder="Your email...", value=values ? values.email : '')

    button.btn.btn-primary.ml-3 create