extends ../layouts/common

block content
  h1
    span.mr-4 User list
    a.btn.btn-primary(href="/users/create") New a user

  .d-flex.align-items-center
    form.ml-auto.d-flex(action="/users/search", method="GET")
      input.form-control(type="text", name="q")
      button.btn.btn-primary.ml-2 search

  table.table
    tr
      th Name
      th Phone
      th Actions
      
    each user in users
      tr
        td= user.name
        td
        td
          a.btn.btn-success(href='users/' + user.userId) update
          a.btn.btn-danger.ml-2(href='users/' + user.userId + '/delete') delete