extends ../layouts/common

block content  
  h1 Create a new transaction

  form.col-sm-3(action="/transactions/create", method="POST")
    .form-group
      lable User name:
      select.form-control(name="userId")
        each user in users
          option(value=user.userId) #{user.name}
    .form-group
      lable Book title:
      select.form-control(name="bookId")
        each book in books
          option(value=book.bookId) #{book.title}

    button.btn.btn-primary create