extends ../layouts/common

block content  
  h1 Create a new transaction

  form(action="/transactions/create", method="POST")
    lable User name:

    select(name="userId")
      each user in users
        option(value=user.userId) #{user.name}
    span &nbsp

    lable Book title:

    select(name="bookId")
      each book in books
        option(value=book.bookId) #{book.title}
    span &nbsp

    button create