h1 Transaction 

a(href="transactions/create") New a transaction

ul
  each transaction in transactions
    li
      span Borrower:  
      span= transaction.user
      br
      span Book title: 
      span= transaction.book
      br
      span Completed:  
      span= transaction.isComplete ? transaction.isComplete : 'false'
      br
      a(href='transactions/'  + transaction.tranId + '/complete') complete
      