extends ../layouts/common

block content

  h1 
    span.mr-2 Transaction 
    a.btn.btn-primary(href="transactions/create") New a transaction

  table.table
    tr
      th Borrower
      th Book title
      th Completed
      th Actions
      
    each transaction in transactions
      tr
        td= transaction.user 
        td= transaction.book
        td= transaction.isComplete ? 'Have paid' : 'Unpaid'
        td
          a.btn.btn-primary(href='transactions/'  + transaction.tranId + '/complete') complete
      